.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1em;
  background-color: #f1f1f1;
  color: #333;
  font-size: 0.9em;
}

.heart {
  color: red;
  transition: transform 0.2s;
}

.heart:hover {
  transform: scale(1.2);
}

.teamName {
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.socialIcons {
  display: flex;
  align-items: center;

  border-color: red;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: orange;
  width: 30px;
  height: 30px;
  padding-bottom: 20px;
  fill: currentColor;
  transition: fill 0.3s ease;
}

.icon:hover {
  fill: #0073e6;
}

.follow {
  align-items: center;
  justify-content: center;
  margin-right: 350px;
}
.install {
  align-items: center;
  justify-content: center;
  margin-right: 350px;
}
.socialIcons {
  display: flex;
}
